.code-block {
  display: inline-block;
  min-width: 600px;
  padding: 20px;
  background-color: white;
  border-left: 5px solid var(--highlight);
  border-radius: var(--border-radius);
  box-shadow: 0 5px 30px -15px var(--content-shadow);
}
