.code-block {
  display: inline-block;
  min-width: 600px;
  padding: 20px;
  background-color: var(--highlight-bg-light);
  border-left: 5px solid var(--highlight);
  border-radius: var(--border-radius);
}
